<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <div class="add-film-content">
                <h3>Редактировать фильм</h3>
                <form action="/api/films/edit" method="POST" enctype="multipart/form-data" class="add-film">
                    <fieldset>
                        <input type="hidden" value="<%=films._id%>" name="id">
                    </fieldset>
                    <fieldset>
                        <label class="label" for="">Изменить картинку фильма</label>
                        <label class="custom-input-label">
                            <input class="add-film-file-input" type="file" name="image">
                            <span class="custom-input">Изменить картинку</span>
                        </label>
                    </fieldset>
                    <fieldset>
                        <label class="label" for="">Название фильма на русском</label>
                        <input type="text" placeholder="Введите название фильма на русском" value="<%= films.titleRus %>" name="titleRus">
                    </fieldset>
                    <fieldset>
                        <label class="label" for="">Название фильма на английском</label>
                        <input type="text" placeholder="Введите название фильма на английском" value="<%= films.titleEng %>" name="titleEng">
                    </fieldset>
                    <fieldset>
                        <label class="label" for="">Год выпуска</label>
                        <input type="text" placeholder="Введите год выпуска фильма" value="<%= films.year %>" name="year">
                    </fieldset>
                    <fieldset>
                        <label class="label" for="">Длительность</label>
                        <input type="text" placeholder="Введите длительность фильма" value="<%= films.titleRus %>" name="time">
                    </fieldset>
                    <fieldset>
                        <label class="label" for="">Страна выпуска</label>
                        <select name="country" id="">
                            <% country.forEach(item => { 
                                if(item.id == films.country){ %>
                                <option value="<%=item._id%>" selected><%= item.name %></option>
                            <% }else{ %>
                                <option value="<%=item._id%>"><%= item.name %></option>
                            <% }}) %>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label class="label" for="">Выберите жанр</label>
                        <select name="genre" id="">
                            <% genre.forEach(item => { 
                                if(item.id == films.genre){ %>
                                <option value="<%=item._id%>" selected><%= item.name %></option>
                            <% }else{ %>
                                <option value="<%=item._id%>"><%= item.name %></option>
                            <% }}) %>
                        </select>
                    </fieldset>
                    <fieldset>
                        <button class="btn btn-primary add-film-btn-size" type="submit">Сохранить</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
</html>