<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <%- include('partials/categories.ejs') %>
            <div class="main-content">
                <h3>Фильмы и сериалы</h3>
                <% films.forEach(film => { %>
                    <div class="main-card">
                        <div class="card-left">
                            <div class="film-img">
                                <img src="<%= film.image %>" alt="">
                            </div>
                            <div class="film-info">
                                <a href=""><%= film.titleRus %></a>
                                <a href=""><%= film.titleEng %>, <%= film.year %>, <%= film.time %> мин.</a>
                                <a href=""><%= film.country.name %> • <%= film.genre.name %>  Режиссёр: Фрэнк Дарабонт</a>
                                <a href=""> В ролях: Том Хэнкс, Дэвид Морс</a>

                                <div>
                                    <button class="film-btn">
                                        <img src="/images/icons/play 2 btn.svg" alt="">
                                        Смотреть
                                    </button>
                                </div>
                                
                            </div>
                        </div>
                        <div class="card-right">
                            <div class="film-rate">
                                <img src="/images/icons/rating left.svg" alt="">
                                <p>9.2</p>
                                <img src="/images/icons/rating right.svg" alt="">
                            </div>
                            <button class="film-btn2">
                                <img src="/images/icons/add.svg" alt="">
                                Буду смотреть
                            </button>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</body>
</html>