<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <div class="add-film-content">
                <h3>Новый фильм</h3>
                <form action="/api/new" method="POST" enctype="multipart/form-data" class="add-film">
                    <fieldset>
                        <label class="label" for="">Добавить картинку фильма</label>
                        <label class="custom-input-label">
                            <input class="add-film-file-input" type="file" name="image">
                            <span class="custom-input">Добавить картинку</span>
                        </label>
                    </fieldset>
                    <fieldset>
                        <label class="label" for="">Название фильма на русском</label>
                        <input type="text" placeholder="Введите название фильма на русском" name="titleRus">
                    </fieldset>
                    <fieldset>
                        <label class="label" for="">Название фильма на английском</label>
                        <input type="text" placeholder="Введите название фильма на английском" name="titleEng">
                    </fieldset>
                    <fieldset>
                        <label class="label" for="">Год выпуска</label>
                        <input type="text" placeholder="Введите год выпуска фильма" name="year">
                    </fieldset>
                    <fieldset>
                        <label class="label" for="">Длительность</label>
                        <input type="text" placeholder="Введите длительность фильма" name="time">
                    </fieldset>
                    <fieldset>
                        <label class="label" for="">Страна выпуска</label>
                        <select name="country" id="">
                            <% countries.forEach(item => { %>
                                <option value="<%= countries._id %>"><%= item.name %></option>
                            <% }) %>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label class="label" for="">Выберите жанр</label>
                        <select name="genre" id="">
                            <% genres.forEach(item => { %>
                                <option value="<%= genres._id %>"><%= item.name %></option>
                            <% }) %>
                        </select>
                    </fieldset>
                    <fieldset>
                        <button class="btn btn-primary add-film-btn-size" type="submit">Добавить</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
</html>